@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }

  .ptop {
    padding-top: 80px;

  }

  .mbottom {
    margin-bottom: 80px
  }
}

/* #root {
  background: linear-gradient(rgb(123, 109, 240) 25%, rgb(183, 23, 219) 58%, rgb(237, 22, 215) 15%);
  min-height: 100vh;
} */

body {
  /* background-image: url("/src/assets/bg.gif"); */
  /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ff2ca5d0-5633-4ef7-b22f-934c6516d5f0/d6iuhnh-22a84a73-8669-48aa-aaac-47e886276b7c.jpg/v1/fill/w_1192,h_670,q_70,strp/dark_blue_wallpaper_by_malkowitch_d6iuhnh-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcL2ZmMmNhNWQwLTU2MzMtNGVmNy1iMjJmLTkzNGM2NTE2ZDVmMFwvZDZpdWhuaC0yMmE4NGE3My04NjY5LTQ4YWEtYWFhYy00N2U4ODYyNzZiN2MuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.r7d9UoV3ABeaa3ENC5IvLFgFt3C7uYKDddohdEMYPQ0"); */
  background: rgb(18, 18, 74);
  background: linear-gradient(342deg, rgba(18, 18, 74, 1) 27%, rgba(4, 107, 143, 1) 52%, rgba(23, 23, 69, 1) 73%);
}

.nav {
  z-index: 10;
  background-image: url("/src/assets/bg.gif");
  /* background: rgb(9, 9, 121);
  background: linear-gradient(344deg, rgb(25, 44, 164) 27%, rgba(53, 161, 199, 1) 58%, rgba(9, 9, 121, 1) 80%); */
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  /* background-image: linear-gradient(transparent, transparent), linear-gradient(#F2C, rgb(60, 34, 255)) */
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000, #fff);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
  line-height: 1.2;
}

.portfolio,
.contact {
  margin-top: 8%;
}

.experience {
  margin-top: 12%;
}


.nav-links {
  text-underline-offset: 1rem;
}



@media screen and (max-width: 1024px) {

  #root {
    background: linear-gradient(rgb(31, 41, 55) 20%, black 20%, rgb(31, 41, 55) 65%, black 25%);
    min-height: 100vh;
  }

  .about,
  .contact,
  .portfolio,
  .experience,
  .skills .home {
    text-align: center;
    height: 100%;
  }

  .about,
  .portfolio,
  .experience {
    margin-top: 10%;
  }

  .home img {
    margin-top: 25%;
  }

  .small-screen {
    display: block;
  }

  .big-screen {
    display: none;
  }

  .gap-8 {
    gap: 4rem;
  }

  .home h2 {
    font-size: 2.7rem;
    line-height: 3rem;
    margin-top: 7%;
  }

  .portfolio-btn {
    margin: auto;
  }

  .px-12 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}


/* my css */
.myLogo>a {
  text-decoration: none;
  color: #1e42b9;
}

.myLogo {
  cursor: pointer;
  font-size: calc(5px + 5vh);
  line-height: calc(5px + 5vh);
  text-shadow: 0 0 5px #3e6bde, 0 0 15px #f9f9f9, 0 0 20px #3e6bde, 0 0 40px #f9f9f9, 0 0 60px #4dc6cd, 0 0 10px #f9f9f9, 0 0 98px #3e6bde;
  color: #3e6bde;
  font-family: "Sacramento", Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {

  20%,
  24%,
  55% {
    color: rgb(49, 71, 234);
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #3b64c4, 0 0 15px #3b64c4, 0 0 20px #4a53cf, 0 0 40px #4a53cf, 0 0 60px #3b64c4, 0 0 10px #4a53cf, 0 0 98px #3b64c4;
    color: #3b64c4;

  }
}

@keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #f9f9f9, 0 0 15px #60a5fa, 0 0 20px #60a5fa, 0 0 40px #60a5fa, 0 0 60px #3bb6c4, 0 0 10px #60a5fa, 0 0 98px #3ed0d8;
    color: #f9f9f9;
  }
}

.mobile-menu {
  display: none;
}